
#Catalogo{
    font-size: 75px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    
}
body{
    background-color: black;

}

.carousel-item img {
    margin: 0 auto;
    display: block;
  }

.navbar-brand{
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: black;
    color: white;
}
.container-fluid{
    background-color: black;
    padding: auto;
    margin: auto;

}

.nav-link{
    color: white;
}

.nav-link.active{
    color: white;
}